joblib==0.16.0
deepcut==0.7.0.0
spacy==2.3.2
pythainlp==2.2.2
sklearn_crfsuite==0.3.6
numpy==1.19.1
scikit-learn==0.23.1
pytest==6.0.1
pytest-cov==2.10.0
jsonlines==1.15.0
fuzzywuzzy
pandas
eli5
scipy